@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.text {
    font-size: 14px;
}

#main {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
}

#apMain {
    -fx-background-color: #0079fa;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#vbMainApp {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#apVehiclesAdd {
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

.split-pane {
    -fx-background-color: white;
    -fx-background-radius: 30px;
}
#appLabel{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 22px;
    -fx-text-fill: black;
}

#loginLabel, #registerLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}


#loginButton, #registerButton, #submitButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#loginButton:hover, #registerButton:hover, #submitButton:hover {
    -fx-background-color: #F0F0E7;

}

#vbLogin, #vbRegister {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#usernameField, #passwordField, #confirmPasswordField {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#spMenu {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#menuLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#manageClientsButton, #manageVehiclesButton, #manageRepairsButton, #exitButton, #returnButton, #usersButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    transition: all 0.3s ease 0s;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#manageClientsButton:hover, #manageVehiclesButton:hover, #manageRepairsButton:hover,
#exitButton:hover, #usersButton:hover {
    -fx-background-color: #F0F0E7;
}

#messageLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

#vbAdd, #vbClientAdd {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#plateLabel, #brandLabel, #modelLabel, #yearLabel, #clientLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#clientComboBox {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#saveButton, #cancelButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#saveButton:hover, #cancelButton:hover {
    -fx-background-color: #F0F0E7;
}

#registrationNumberField, #brandField, #modelField, #productionYearField, #vinField {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

Label {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

#addButton, #editButton, #deleteButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#goBackButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#addButton:hover, #editButton:hover, #deleteButton:hover, #goBackButton:hover {
    -fx-background-color: #F0F0E7;
}

#apMenageVehicles {
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#apClientMen{
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#spAnchorPaneButtons {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#spAPListView {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#labelMenVeh, #labelClientMenage, #usersLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#vbMenVeh, #vbClientMenage, #vbUsers {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#vbAppointment{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#hbMenVeh, #hbCliMen, #hbAppointment, #hbUsers {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#labelVehEdit, #appointmentLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#vbVehEdit {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}


#labelClientAdd {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#labelName, #labelSurname, #labelPhone, #labelEmail {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#nameField, #surnameField, #phoneField, #mailField {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#goBackClientButton, #addClientButton, #cancelClientButton, #addAppointmentButton,
#editAppointmentButton, #endAppointmentButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}


.table-view .column-header .label {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black; /* Kolor tekstu */
    -fx-font-size: 14px; /* Rozmiar czcionki */
    -fx-alignment: center; /* Wyrównanie tekstu */
}

#usernameLabel{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.2, 0, 0);

}
#usernameLabelClient{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#usernameLabelVehicle{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#usernameLabelAppointments, #usernameLabelUsers {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#returnButton:hover {
    -fx-background-color: #F0F0E7;
}

#apUsers {
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#changePasswordButton, #deleteUserButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#changePasswordButton:hover, #deleteUserButton:hover {
    -fx-background-color: #F0F0E7;
}

#apUsersEdit{
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#vbUsersEdit{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#passwordEditLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#usersEditTextField{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 6, 0, 0, 0);
}

#passwordEditButton{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#passwordEditButton:hover {
    -fx-background-color: #F0F0E7;
}

#apClientAdd, #apClientEdit {
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#apAppointments {
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#addAppointmentButton:hover, #editAppointmentButton:hover, #endAppointmentButton:hover {
    -fx-background-color: #F0F0E7;
}

#apAppointmentAdd {
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#vbAppointmentAdd {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#apAppointmentAddVehicleLabel, #appointmentAddDescriptionLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#appointmentAddLabel{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#tesxtAreaAppointment{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#comboboxAppointmentAdd{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#addAppointmentButton{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#comboboxAppointmentEdit{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#apAppointmentEnd {
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#vbAppointmentEnd{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#appointmentEndLabel{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#checkboxEndAppointment{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#costTextField{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#editInfoAppointmentButton{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#selectVehicleButton{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#selectedVehicleLabel{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#apSelectedVehicle{
    -fx-background-color: white;
    -fx-background-image: url('https://www.transparenttextures.com/patterns/polonez-pattern.png');
}

#hbSelectVehicle{
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}