@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.text {
    font-size: 14px;
}


#main {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
}

#apMain {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
}

#apVehiclesAdd {
    -fx-background-color: white;
}

.split-pane {
    -fx-background-color: white;
    -fx-background-radius: 30px;
}

#appLabel, #loginLabel, #registerLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 22px;
    -fx-font-weight: normal;
    -fx-text-fill: white;
}

#loginButton, #registerButton, #submitButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 30px;
    transition: all 0.3s ease 0s;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.2, 0, 0);
}

#loginButton:hover, #registerButton:hover, #submitButton:hover {
    -fx-background-color: #F0F0E7;
    transform: scale(1.05);
}

#vbLogin {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.2, 0, 0);
}

#usernameField, #passwordField, #confirmPasswordField {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 30px;
    transition: box-shadow 0.3s ease 0s;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.2, 0, 0);
}

#spMenu {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.2, 0, 0);
}

#menuLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.2, 0, 0);
}

#manageClientsButton, #manageVehiclesButton, #manageRepairsButton, #exitButton, #returnButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 30px;
    transition: all 0.3s ease 0s;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#manageClientsButton:hover, #manageVehiclesButton:hover, #manageRepairsButton:hover, #exitButton:hover {
    -fx-background-color: #F0F0E7;
    transform: scale(1.05);
}

#messageLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

#vbAdd {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#plateLabel, #brandLabel, #modelLabel, #typeLabel, #yearLabel {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#saveButton, #cancelButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 30px;
    transition: all 0.3s ease 0s;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#saveButton:hover, #cancelButton:hover {
    -fx-background-color: #F0F0E7;
    transform: scale(1.05);
}

#registrationNumberField, #brandModelField, #vehicleTypeField, #productionYearField {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 6, 0, 0, 0);
}

Label {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

#addButton, #editButton, #deleteButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 30px;
    transition: all 0.3s ease 0s;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#goBackButton {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-background-radius: 30px;
    transition: all 0.3s ease 0s;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#addButton:hover, #editButton:hover, #deleteButton:hover, #goBackButton:hover {
    -fx-background-color: #F0F0E7;
    transform: scale(1.05);
}

#apMenageVehicles {
    -fx-background-color: white;
}

#spAnchorPaneButtons {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#spAPListView {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#labelMenVeh {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#vbMenVeh {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2A54D2, #6BA0FF);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#hbMenVeh {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}